@use '@theme/css/color/color.scss' as *;
@use '@theme/css/animation/use-ripple.scss' as *;

@mixin use-standard($color: $suoh) {
  border: none;
  color: $color;
  background-color: inherit;

  &:hover {
    background-color: rgba($color, 0.08);
  }
}
