packages/ui/ui
packages/ui/storybook-static
packages/markdown/markdown
packages/aniline/aniline

# themes are formatted at tools module. Hence themes in any other modules is not required to be formatted
packages/**/theme

.next
.vscode

pnpm-lock.yaml
pnpm-workspace.yaml
*/**/pnpm-lock.yaml
*/**/pnpm-workspace.yaml
