packages/amatelas-react/dist
packages/amatelas-react/storybook-static
packages/markdown/markdown
packages/aniline/aniline

.next
.vscode

pnpm-lock.yaml
pnpm-workspace.yaml
*/**/pnpm-lock.yaml
*/**/pnpm-workspace.yaml
