packages/ui/ui
packages/markdown/markdown

# themes are formatted at tools module. Hence themes in any other modules is not required to be formatted
packages/**/theme

.next
.vscode

pnpm-locl.yaml
pnpm-workspace.yaml
*/**/pnpm-locl.yaml
*/**/pnpm-workspace.yaml
