@use '@theme/css/color/color.scss' as *;

.checkbox-input {
  display: none;
}
.checked {
  fill: $success;
}
.unchecked {
  fill: $danger;
}
.checkbox-input:checked ~ .unchecked {
  display: none;
}
.checkbox-input:not(:checked) ~ .checked {
  display: none;
}
.checkbox {
  display: inline-flex;
  gap: 6px;
  cursor: pointer;
}
.marker {
  display: inline-block;
  height: 1lh;
}
