@use '@theme/css/color/color.scss' as color;

.list {
  text-align: -webkit-match-parent;
  // padding-left: 24px;
  display: flex;
  flex-direction: column;
}
.list-item {
  text-align: -webkit-match-parent;
  display: flex;
  align-items: flex-start;
  gap: 6px;
  line-height: 1.7;
}
.marker {
  display: inline-flex;
  width: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 1lh;
}
.disc {
  width: 12px;
  height: 12px;
  fill: color.$accents3;
}
.dangerous {
  width: 24px;
  height: 24px;
  fill: color.$danger;
}
.done {
  width: 24px;
  height: 24px;
  fill: color.$success;
}

.margin-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}
.margin-md {
  margin-top: 12px;
  margin-bottom: 12px;
}
.margin-xl {
  margin-top: 16px;
  margin-bottom: 16px;
}

.gap-xs {
  gap: 2px;
}
.gap-md {
  gap: 6px;
}
.gap-xl {
  gap: 10px;
}

// .unordered {
//   list-style: disc;
// }
// .ordered {
//   list-style: decimal;
// }

// .ordered > .list-item {
// }

// .unordered > .list-item {
//   &::marker {
//     color: color.$accents3;
//   }
// }
