:root {
  --AMUI-color-blue-lighten10: #f4f7fe;
  --AMUI-color-blue-lighten9: #eaeffe;
  --AMUI-color-blue-lighten8: #d6dffe;
  --AMUI-color-blue-lighten7: #c2cffd;
  --AMUI-color-blue-lighten6: #adbffd;
  --AMUI-color-blue-lighten5: #99affd;
  --AMUI-color-blue-lighten4: #859ffc;
  --AMUI-color-blue-lighten3: #708ffc;
  --AMUI-color-blue-lighten2: #5c7ffb;
  --AMUI-color-blue-lighten1: #486ffb;
  --AMUI-color-blue: #3460fb;
  --AMUI-color-blue-darken1: #2e56e1;
  --AMUI-color-blue-darken2: #294cc8;
  --AMUI-color-blue-darken3: #2443af;
  --AMUI-color-blue-darken4: #1f3996;
  --AMUI-color-blue-darken5: #1a307d;
  --AMUI-color-blue-darken6: #142664;
  --AMUI-color-blue-darken7: #0f1c4b;
  --AMUI-color-blue-darken8: #0a1332;
  --AMUI-color-blue-darken9: #050919;
  --AMUI-color-blue-darken10: #02040c;
  --AMUI-color-blue-alpha1: #3460fbe6;
  --AMUI-color-blue-alpha2: #3460fbcc;
  --AMUI-color-blue-alpha3: #3460fbb3;
  --AMUI-color-blue-alpha4: #3460fb99;
  --AMUI-color-blue-alpha5: #3460fb80;
  --AMUI-color-blue-alpha6: #3460fb66;
  --AMUI-color-blue-alpha7: #3460fb4d;
  --AMUI-color-blue-alpha8: #3460fb33;
  --AMUI-color-blue-alpha9: #3460fb1a;
  --AMUI-color-blue-alpha10: #3460fb0d;
}
