:root {
  --AMUI-color-green-lighten10: #f4faf7;
  --AMUI-color-green-lighten9: #e9f5ef;
  --AMUI-color-green-lighten8: #d3ebdf;
  --AMUI-color-green-lighten7: #bde1d0;
  --AMUI-color-green-lighten6: #a7d7c0;
  --AMUI-color-green-lighten5: #92ceb1;
  --AMUI-color-green-lighten4: #7cc4a1;
  --AMUI-color-green-lighten3: #66ba91;
  --AMUI-color-green-lighten2: #50b082;
  --AMUI-color-green-lighten1: #3aa672;
  --AMUI-color-green: #259d63;
  --AMUI-color-green-darken1: #218d59;
  --AMUI-color-green-darken2: #1d7d4f;
  --AMUI-color-green-darken3: #196d45;
  --AMUI-color-green-darken4: #165e3b;
  --AMUI-color-green-darken5: #124e31;
  --AMUI-color-green-darken6: #0e3e27;
  --AMUI-color-green-darken7: #0b2f1d;
  --AMUI-color-green-darken8: #071f13;
  --AMUI-color-green-darken9: #030f09;
  --AMUI-color-green-darken10: #010704;
}
