:root {
  --AMUI-color-light-blue-lighten10: #f2f9fe;
  --AMUI-color-light-blue-lighten9: #e5f3fd;
  --AMUI-color-light-blue-lighten8: #cce7fc;
  --AMUI-color-light-blue-lighten7: #b2dcfb;
  --AMUI-color-light-blue-lighten6: #99d0f9;
  --AMUI-color-light-blue-lighten5: #7fc5f8;
  --AMUI-color-light-blue-lighten4: #66b9f7;
  --AMUI-color-light-blue-lighten3: #4cadf5;
  --AMUI-color-light-blue-lighten2: #33a2f4;
  --AMUI-color-light-blue-lighten1: #1996f3;
  --AMUI-color-light-blue: #008bf2;
  --AMUI-color-light-blue-darken1: #007dd9;
  --AMUI-color-light-blue-darken2: #006fc1;
  --AMUI-color-light-blue-darken3: #0061a9;
  --AMUI-color-light-blue-darken4: #005391;
  --AMUI-color-light-blue-darken5: #004579;
  --AMUI-color-light-blue-darken6: #003760;
  --AMUI-color-light-blue-darken7: #002948;
  --AMUI-color-light-blue-darken8: #001b30;
  --AMUI-color-light-blue-darken9: #000d18;
  --AMUI-color-light-blue-darken10: #00060c;
  --AMUI-color-light-blue-alpha1: #008bf2e6;
  --AMUI-color-light-blue-alpha2: #008bf2cc;
  --AMUI-color-light-blue-alpha3: #008bf2b3;
  --AMUI-color-light-blue-alpha4: #008bf299;
  --AMUI-color-light-blue-alpha5: #008bf280;
  --AMUI-color-light-blue-alpha6: #008bf266;
  --AMUI-color-light-blue-alpha7: #008bf24d;
  --AMUI-color-light-blue-alpha8: #008bf233;
  --AMUI-color-light-blue-alpha9: #008bf21a;
  --AMUI-color-light-blue-alpha10: #008bf20d;
}
