:root {
  --AMUI-color-lime-lighten10: #f8fbf2;
  --AMUI-color-lime-lighten9: #f2f7e6;
  --AMUI-color-lime-lighten8: #e5f0ce;
  --AMUI-color-lime-lighten7: #d8e8b6;
  --AMUI-color-lime-lighten6: #cbe19e;
  --AMUI-color-lime-lighten5: #bed986;
  --AMUI-color-lime-lighten4: #b1d26d;
  --AMUI-color-lime-lighten3: #a4ca55;
  --AMUI-color-lime-lighten2: #97c33d;
  --AMUI-color-lime-lighten1: #8abb25;
  --AMUI-color-lime: #7eb40d;
  --AMUI-color-lime-darken1: #71a20b;
  --AMUI-color-lime-darken2: #64900a;
  --AMUI-color-lime-darken3: #587d09;
  --AMUI-color-lime-darken4: #4b6c07;
  --AMUI-color-lime-darken5: #3f5a06;
  --AMUI-color-lime-darken6: #324805;
  --AMUI-color-lime-darken7: #253603;
  --AMUI-color-lime-darken8: #192302;
  --AMUI-color-lime-darken9: #0c1101;
  --AMUI-color-lime-darken10: #060900;
}
