:root {
  --AMUI-color-magenta-lighten10: #fdf2fd;
  --AMUI-color-magenta-lighten9: #fbe5fb;
  --AMUI-color-magenta-lighten8: #f7ccf7;
  --AMUI-color-magenta-lighten7: #f4b2f4;
  --AMUI-color-magenta-lighten6: #f099f0;
  --AMUI-color-magenta-lighten5: #ed7fed;
  --AMUI-color-magenta-lighten4: #e966e9;
  --AMUI-color-magenta-lighten3: #e54ce5;
  --AMUI-color-magenta-lighten2: #e233e2;
  --AMUI-color-magenta-lighten1: #de19de;
  --AMUI-color-magenta: #db00db;
  --AMUI-color-magenta-darken1: #c500c5;
  --AMUI-color-magenta-darken2: #af00af;
  --AMUI-color-magenta-darken3: #990099;
  --AMUI-color-magenta-darken4: #830083;
  --AMUI-color-magenta-darken5: #6d006d;
  --AMUI-color-magenta-darken6: #570057;
  --AMUI-color-magenta-darken7: #410041;
  --AMUI-color-magenta-darken8: #2b002b;
  --AMUI-color-magenta-darken9: #150015;
  --AMUI-color-magenta-darken10: #0a000a;
  --AMUI-color-magenta-alpha1: #db00dbe6;
  --AMUI-color-magenta-alpha2: #db00dbcc;
  --AMUI-color-magenta-alpha3: #db00dbb3;
  --AMUI-color-magenta-alpha4: #db00db99;
  --AMUI-color-magenta-alpha5: #db00db80;
  --AMUI-color-magenta-alpha6: #db00db66;
  --AMUI-color-magenta-alpha7: #db00db4d;
  --AMUI-color-magenta-alpha8: #db00db33;
  --AMUI-color-magenta-alpha9: #db00db1a;
  --AMUI-color-magenta-alpha10: #db00db0d;
}
