:root {
  --AMUI-color-orange-lighten10: #fef6f2;
  --AMUI-color-orange-lighten9: #feeee5;
  --AMUI-color-orange-lighten8: #fedecc;
  --AMUI-color-orange-lighten7: #fdcdb2;
  --AMUI-color-orange-lighten6: #fdbd99;
  --AMUI-color-orange-lighten5: #fdad80;
  --AMUI-color-orange-lighten4: #fc9c66;
  --AMUI-color-orange-lighten3: #fc8c4d;
  --AMUI-color-orange-lighten2: #fb7b33;
  --AMUI-color-orange-lighten1: #fb6b1a;
  --AMUI-color-orange: #fb5b01;
  --AMUI-color-orange-darken1: #e15100;
  --AMUI-color-orange-darken2: #c84800;
  --AMUI-color-orange-darken3: #af3f00;
  --AMUI-color-orange-darken4: #963600;
  --AMUI-color-orange-darken5: #7d2d00;
  --AMUI-color-orange-darken6: #642400;
  --AMUI-color-orange-darken7: #4b1b00;
  --AMUI-color-orange-darken8: #321200;
  --AMUI-color-orange-darken9: #190900;
  --AMUI-color-orange-darken10: #0c0400;
  --AMUI-color-orange-alpha1: #fb5b01e6;
  --AMUI-color-orange-alpha2: #fb5b01cc;
  --AMUI-color-orange-alpha3: #fb5b01b3;
  --AMUI-color-orange-alpha4: #fb5b0199;
  --AMUI-color-orange-alpha5: #fb5b0180;
  --AMUI-color-orange-alpha6: #fb5b0166;
  --AMUI-color-orange-alpha7: #fb5b014d;
  --AMUI-color-orange-alpha8: #fb5b0133;
  --AMUI-color-orange-alpha9: #fb5b011a;
  --AMUI-color-orange-alpha10: #fb5b010d;
}
