:root {
  --AMUI-color-red-lighten10: #fef5f5;
  --AMUI-color-red-lighten9: #feebeb;
  --AMUI-color-red-lighten8: #fed7d7;
  --AMUI-color-red-lighten7: #fec3c3;
  --AMUI-color-red-lighten6: #feafaf;
  --AMUI-color-red-lighten5: #fe9c9c;
  --AMUI-color-red-lighten4: #fe8888;
  --AMUI-color-red-lighten3: #fe7474;
  --AMUI-color-red-lighten2: #fe6060;
  --AMUI-color-red-lighten1: #fe4c4c;
  --AMUI-color-red: #fe3939;
  --AMUI-color-red-darken1: #e43333;
  --AMUI-color-red-darken2: #cb2d2d;
  --AMUI-color-red-darken3: #b12727;
  --AMUI-color-red-darken4: #982222;
  --AMUI-color-red-darken5: #7f1c1c;
  --AMUI-color-red-darken6: #651616;
  --AMUI-color-red-darken7: #4c1111;
  --AMUI-color-red-darken8: #320b0b;
  --AMUI-color-red-darken9: #190505;
  --AMUI-color-red-darken10: #0c0202;
  --AMUI-color-red-alpha1: #fe3939e6;
  --AMUI-color-red-alpha2: #fe3939cc;
  --AMUI-color-red-alpha3: #fe3939b3;
  --AMUI-color-red-alpha4: #fe393999;
  --AMUI-color-red-alpha5: #fe393980;
  --AMUI-color-red-alpha6: #fe393966;
  --AMUI-color-red-alpha7: #fe39394d;
  --AMUI-color-red-alpha8: #fe393933;
  --AMUI-color-red-alpha9: #fe39391a;
  --AMUI-color-red-alpha10: #fe39390d;
}
