:root {
  --AMUI-color-yellow-lighten10: #fcfaf2;
  --AMUI-color-yellow-lighten9: #faf5e5;
  --AMUI-color-yellow-lighten8: #f6eccc;
  --AMUI-color-yellow-lighten7: #f1e3b2;
  --AMUI-color-yellow-lighten6: #edda99;
  --AMUI-color-yellow-lighten5: #e8d17f;
  --AMUI-color-yellow-lighten4: #e4c866;
  --AMUI-color-yellow-lighten3: #dfbf4c;
  --AMUI-color-yellow-lighten2: #dbb633;
  --AMUI-color-yellow-lighten1: #d6ad19;
  --AMUI-color-yellow: #d2a400;
  --AMUI-color-yellow-darken1: #bd9300;
  --AMUI-color-yellow-darken2: #a88300;
  --AMUI-color-yellow-darken3: #937200;
  --AMUI-color-yellow-darken4: #7e6200;
  --AMUI-color-yellow-darken5: #695200;
  --AMUI-color-yellow-darken6: #544100;
  --AMUI-color-yellow-darken7: #3f3100;
  --AMUI-color-yellow-darken8: #292000;
  --AMUI-color-yellow-darken9: #141000;
  --AMUI-color-yellow-darken10: #0a0800;
}
