@use '@theme/css/color/color.scss' as *;
@use '@theme/css/animation/use-ripple.scss' as *;

@mixin use-outlined($color: $suoh) {
  color: $color;
  border: $color solid 1px;
  background-color: inherit;

  &:hover {
    background-color: rgba($color, 0.08);
  }
}
