@use '@theme/css/color/color.scss' as *;
@use '@theme/css/padding/padding.scss' as *;
@use '@theme/css/margin/margin.scss' as *;

.alert {
  @include use-lg-padding();
  color: white;
  fill: white;
}

.alert:has(.input:checked) {
  display: none;
}

.close {
  flex-shrink: 0;
}
.close-svg {
  cursor: pointer;
  user-select: none;
}

.summary {
  display: flex;
  gap: 12px;
  @include use-md-margin-bottom();
}
.summary-text {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.close-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transform: translate(4px, -4px);
  cursor: pointer;
}

.info {
  background-color: $info;
  .close-label:hover {
    border-radius: 50%;
    background-color: darken($info, 4);
  }
}
.warning {
  background-color: $warning;
  .close-label:hover {
    border-radius: 50%;
    background-color: darken($warning, 4);
  }
}
.success {
  background-color: $success;
  .close-label:hover {
    border-radius: 50%;
    background-color: darken($success, 4);
  }
}
.error {
  background-color: $danger;
  .close-label:hover {
    border-radius: 50%;
    background-color: darken($danger, 4);
  }
}

.input {
  display: none;
}

.alert-head {
  display: flex;
  justify-content: space-between;
}
