.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}

.gap-xs {
  gap: 12px;
}
.gap-sm {
  gap: 12px;
}
.gap-md {
  gap: 12px;
}
.gap-lg {
  gap: 12px;
}
.gap-xl {
  gap: 12px;
}

.justify-center {
  justify-content: center;
}
.justify-flex-start {
  justify-content: flex-start;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-evenly {
  justify-content: space-evenly;
}

.align-normal {
  align-items: normal;
}
.align-center {
  align-items: center;
}
.align-flex-start {
  align-items: flex-start;
}
.align-flex-end {
  align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
}
.align-baseline {
  align-items: baseline;
}
