@use '@theme/css/color/color.scss' as *;
@use '@theme/css/animation/use-ripple.scss' as *;

@mixin use-filled($color: $suoh) {
  border: none;
  color: white;
  background-color: $color;

  &:hover {
    background-color: lighten($color, 4);
  }
}
