@use '@theme/css/color/color.scss' as *;
@use '@theme/css/font/font.scss' as *;
@use '@theme/css/margin/margin.scss' as *;
@use '@layer/layer.scss' as layer;

// focusしていないときの枠線の色
$blur-outline-color: $accents4;
// focusしているときの枠線の色
$focus-outline-color: $info;
// focusしていないときの文字色
$blur-color: $accents4;
// focusしているときの文字色
$focus-color: $info;
// placeholderのアニメーションにかかる時間
$transition-time: 0.3s;
// z-indexの基準 = 0
$base-z-index: layer.$earth;
$placeholder-z-index: calc($base-z-index + 10);
$scrollbar-z-index: calc($base-z-index + 20);
$error-underline-z-index: calc($base-z-index + 10);

// 外枠
.text-field {
  position: relative;
  height: 128px;
  display: block;
  cursor: text;

  // focusしたときの枠線のアニメーション
  &::after {
    border-bottom: 1px solid $focus-outline-color;
    left: 0px;
    bottom: 0px;
    content: '';
    position: absolute;
    right: 0px;
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
  }
  &:has(.input:focus)::after {
    transform: scaleX(1);
  }

  &:not(:has(.input:focus))::after {
    transform: scaleX(0);
  }
}

// デフォルトのplaceholder
.placeholder {
  position: absolute;
  margin: 0 12px;
  transform-origin: 0;
  transition: all $transition-time;
  pointer-events: none;
  color: $blur-color;

  z-index: $placeholder-z-index;

  // placeholderを上下中央寄せする
  top: 22px;
}
// デフォルトのinput
.input {
  position: absolute;
  top: 22px;
  bottom: 0;
  padding: 0 12px 22px 12px;
  width: 100%;

  z-index: $base-z-index;
  border-bottom: $blur-outline-color solid 1px;
}
// focusしているときおよび文字入力があるときのplaceholder
.input:focus + .placeholder,
.input:not(:placeholder-shown) + .placeholder {
  transform: scale(0.8);
  top: 1px;
  transition: all $transition-time;
  pointer-events: none;
}
.input:not(:placeholder-shown):not(:focus) + .placeholder {
  color: $blur-color;
}
.input:focus + .placeholder {
  color: $focus-color;
}

.validate > .input:invalid {
  border-bottom: $danger solid 1px;
  z-index: $error-underline-z-index;
}
.validate > .input:invalid + .placeholder {
  color: $danger;
}

.helper-text {
  color: $accents5;
  @include use-caption-font-size();
  padding: 4px 12px;
}

.top-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  height: 22px;
  margin: 0 12px;
  // TODO: whiteではないほうが好ましい。
  background-color: white;
}
