@use '@theme/css/color/color.scss' as *;
@use '@theme/css/animation/use-ripple.scss' as *;

@mixin use-standard-button($color: $suoh) {
  border: none;
  color: $color;
  background-color: inherit;
  @include use-ripple($color);

  &:hover {
    background-color: rgba($color, 0.08);
  }
}
