.amatelas-accordion {
  border-bottom: black solid 1px;
  padding: 8px 0;

  .summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .summary::-webkit-details-marker {
    display: none;
  }
  &[open] .expand-more-svg {
    transform: rotate(180deg);
  }
}
