.amatelas-button {
  outline: none;
  position: relative;
  overflow: hidden;
  padding: 12px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-sizing: border-box;
  cursor: pointer;

  &:disabled {
    color: var(--color-text);
    background-color: rgba(var(--rgb-color-text), 0.12);
    cursor: not-allowed;
    &.outlined {
      border: 1px solid var(--color-text);
    }
  }

  &.outlined:not(:disabled) {
    &.text {
      color: var(--color-text);
      border: var(--color-text) solid 1px;
      background-color: inherit;

      &:hover {
        background-color: rgba(var(--rgb-color-text), 0.08);
      }
    }
    &.info {
      color: var(--color-info);
      border: var(--color-info) solid 1px;
      background-color: inherit;

      &:hover {
        background-color: rgba(var(--rgb-color-info), 0.08);
      }
    }
    &.danger {
      color: var(--color-danger);
      border: var(--color-danger) solid 1px;
      background-color: inherit;

      &:hover {
        background-color: rgba(var(--rgb-color-danger), 0.08);
      }
    }
    &.warning {
      color: var(--color-warning);
      border: var(--color-warning) solid 1px;
      background-color: inherit;

      &:hover {
        background-color: rgba(var(--rgb-color-warning), 0.08);
      }
    }
    &.success {
      color: var(--color-success);
      border: var(--color-success) solid 1px;
      background-color: inherit;

      &:hover {
        background-color: rgba(var(--rgb-color-success), 0.08);
      }
    }
  }
}
