@use '@theme/css/color/color.scss' as *;
@use '@theme/css/effect/use-shade' as *;

@use './variant/standard/standard.module.scss' as *;
@use './variant/outlined/outlined.module.scss' as *;
@use './variant/filled/filled.module.scss' as *;

.button {
  outline: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 12px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-sizing: border-box;
}

.button:disabled {
  color: $text;
  background-color: rgba($text, 0.12);
  cursor: not-allowed;
}

.shade {
  @include use-shade();
}

.standard:not(:disabled) {
  &.text {
    @include use-standard($text);
  }
  &.info {
    @include use-standard($info);
  }
  &.danger {
    @include use-standard($danger);
  }
  &.warning {
    @include use-standard($warning);
  }
  &.success {
    @include use-standard($success);
  }
}
.outlined:not(:disabled) {
  &.text {
    @include use-outlined($text);
  }
  &.info {
    @include use-outlined($info);
  }
  &.danger {
    @include use-outlined($danger);
  }
  &.warning {
    @include use-outlined($warning);
  }
  &.success {
    @include use-outlined($success);
  }
}
.filled {
  &.text {
    @include use-filled($text);
  }
  &.info {
    @include use-filled($info);
  }
  &.danger {
    @include use-filled($danger);
  }
  &.warning {
    @include use-filled($warning);
  }
  &.success {
    @include use-filled($success);
  }
}
