:root {
  --title-size-pc: 48px;
  --title-size-tab: 42px;
  --title-size-sp: 42px;

  --heading1-size-pc: 36px;
  --heading1-size-tab: 30px;
  --heading1-size-sp: 30px;

  --heading2-size-pc: 30px;
  --heading2-size-tab: 26px;
  --heading2-size-sp: 26px;

  --heading3-size-pc: 26px;
  --heading3-size-tab: 22px;
  --heading3-size-sp: 22px;

  --heading4-size-pc: 24px;
  --heading4-size-tab: 20px;
  --heading4-size-sp: 20px;

  --heading5-size-pc: 22px;
  --heading5-size-tab: 18px;
  --heading5-size-sp: 18px;

  --heading-size-pc: 18px;
  --heading-size-tab: 16px;
  --heading-size-sp: 16px;

  --subtitle1-size-pc: 16px;
  --subtitle1-size-tab: 16px;
  --subtitle1-size-sp: 16px;

  --subtitle-size-pc: 14px;
  --subtitle-size-tab: 14px;
  --subtitle-size-sp: 14px;

  --body1-size-pc: 16px;
  --body1-size-tab: 16px;
  --body1-size-sp: 16px;

  --body2-size-pc: 14px;
  --body2-size-tab: 14px;
  --body2-size-sp: 14px;

  --button-size-pc: 14px;
  --button-size-tab: 14px;
  --button-size-sp: 14px;

  --caption-size-pc: 12px;
  --caption-size-tab: 12px;
  --caption-size-sp: 12px;

  --overline-size-pc: 10px;
  --overline-size-tab: 10px;
  --overline-size-sp: 10px;
}
