:root {
  --hex-color-accents1: #fafafa;
  --hex-color-accents2: #eaeaea;
  --hex-color-accents3: #999;
  --hex-color-accents4: #888;
  --hex-color-accents5: #666;
  --hex-color-accents6: #444;
  --hex-color-accents7: #333;
  --hex-color-accents8: #111;

  --hex-color-text: #383c3c;

  --hex-color-success: #28a745;
  --hex-color-success-lighten1: #42c15f;
  --hex-color-success-lighten2: #5bda78;
  --hex-color-success-lighten3: #75f492;
  --hex-color-success-darken1: #0f8e2c;
  --hex-color-success-darken2: #007412;
  --hex-color-success-darken3: #005b00;

  --hex-color-danger: #dc3545;
  --hex-color-danger-lighten1: #f64f5f;
  --hex-color-danger-lighten2: #ff6878;
  --hex-color-danger-lighten3: #ff8292;
  --hex-color-danger-darken1: #c31c2c;
  --hex-color-danger-darken2: #a90212;
  --hex-color-danger-darken3: #900000;

  --hex-color-warning: #ffc107;
  --hex-color-warning-lighten1: #ffdb21;
  --hex-color-warning-lighten2: #fff43a;
  --hex-color-warning-lighten3: #ffff54;
  --hex-color-warning-darken1: #e6a800;
  --hex-color-warning-darken2: #cc8e00;
  --hex-color-warning-darken3: #b37500;

  --hex-color-info: #17a2b8;
  --hex-color-info-lighten1: #31bcd2;
  --hex-color-info-lighten2: #4ad5eb;
  --hex-color-info-lighten3: #64efff;
  --hex-color-info-darken1: #00899f;
  --hex-color-info-darken2: #006f85;
  --hex-color-info-darken3: #00566c;
}
